.montserrat300I {
    font-family: "Montserrat", sans-serif;
  }
  .subtitleCard {
    font-size: 10px;
    margin: 5px auto;
  }
  .h2Else {
    text-align: center;
  }
  .eachCard {
    margin: 20px auto;
    background: linear-gradient(
      90deg,
      rgba(238, 238, 238, 1) 0%,
      rgba(249, 249, 249, 1) 41%,
      rgba(255, 255, 255, 0) 64%
    );
  }
  .card-header,
  .card-footer {
    background: none !important;
  }
  .titleCard {
    font-family: "Merriweather", serif;
  }